.modal {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    animation: show 0.5s;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal-content {
    padding: 10px;
    background-color: var(--white-color);
    border-radius: 10px;
    z-index: 12000;
}

.modal-title {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.modal-title>div {
    float: right;
    cursor: pointer;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}