.todo-form > div {
    margin-bottom: 20px;
}

.todo-form__option {
    display: flex;
    gap: 20px;
}

.todo-form input, textarea {
    width: 100%;
    outline: none;
    border: 0.5px solid #d9d9d9;
    padding: 10px;
    border-radius: 4px;
    resize: vertical;
}

.todo-form__option > div {
    flex: 1;
}

.todo-form__option > div input, 
.todo-form__option > div select {
    width: 100%;
    outline: none;
    border: 0.5px solid #d9d9d9;
    padding: 10px;
    border-radius: 4px;
}

.todo-form__option input {
    resize: none;
}

.todo-form p {
    font-size: 14px;
    font-weight: 500;

}

.todo-form__button {
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    background-color: #237804;
    border-radius: 4px;
    color: var(--white-color);
    font-size: 16px;
}