.todo-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.todo-name {
    display: flex;
    align-items: flex-start;
}

.todo-name input {
    margin-right: 10px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.todo-name span {

}

.todo-actions {
    flex-shrink: 0;
}

.todo-actions button {
    margin-left: 10px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: var(--white-color);
    cursor: pointer;
}

.todo-actions button:first-child {
    background-color: #597ef7;
}

.todo-actions button:last-child {
    background-color: #f5222d;
}

.todo-actions button:first-child:hover {
    background-color: #2f54eb;
}

.todo-actions button:last-child:hover {
    background-color: #a8071a;
}