:root {
    --white-color: #fff;
    --text-black-color: #333;
}


html {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.app {
    display: flex;
    height: 100vh;
}

.app__add-todo {
    width: 40%;
    border-right: 0.5px solid #d9d9d9;
}

.app__todo-list {
    width: 60%;
    max-width: 100vh;
}

.app__todo-list-title {
    padding: 20px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.app__todo-list-title span {
    font-weight: 500;
}

.todo-list {
    padding: 0 10px 0 20px;
    margin-top: 20px;
    height: calc(100vh - 182px);
    overflow-y: auto;
}

.app__todo-list-search {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.app__todo-list-search input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    border: 0.5px solid #d9d9d9;
    border-radius: 4px;
}

.app__todo-list-search button {
    flex-shrink: 0;
    align-self: stretch;
    padding: 0 10px;
    background-color: #237804;
    color: var(--white-color);
    border-radius: 4px;
    outline: none;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}

.bulk-action {
    position: sticky;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #f0f2f5;
}

.bulk-action div {
    display: flex;
    align-items: center;
}

.bulk-action button {
    margin-left: 10px;
    border: none;
    outline: none;
    color: var(--white-color);
    padding: 10px;
    border-radius: 10px;
}

.bulk-action button:first-child {
    background-color: #237804;
}

.bulk-action button:last-child {
    background-color: #cf1322;
}

.todo-list:hover .todo-list::-webkit-scrollbar {
    visibility: visible
}

.todo-list::-webkit-scrollbar {
    width: 4px;
    /* display: none; */
}

/* Track */
.todo-list::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.todo-list::-webkit-scrollbar-thumb {
    background-color: #c5c7ca;
    border-radius: 10px;
}

.error-message {
    font-size: 12px;
    font-weight: 300;
    color: red;
}

.todo-list-detail {
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .app__todo-list {
        width: 100%;
    }
}